
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand">and_joy</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style = "padding-left: 700px;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-center">
    <% if user_signed_in? %> 
    <% if current_user.has_role? :admin %>
      <li class="nav-item active">
        <%= link_to "Add New Product", new_product_path, class: 'nav-link sr-only' %>
      </li>
    <% end %>
      <li class="nav-item">
        <%= link_to "Home", products_path, class: 'nav-link' %>
      </li>
      <% if current_user.has_role? :newuser %>
      <li class="nav-item">
        <%= link_to "Orders", order_url(current_user.id), class: 'nav-link' %>
      </li>
      <% end %>
      <% if current_user.has_role? :admin %>
      <li class="nav-item">
        <%= link_to "Users", members_path ,class: 'nav-link' %>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete ,class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>