<div class= "order-page">

<h2 style="text-align: center; margin-bottom:50px;"> Place Order </h2>

<%= form_for(@orders) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true, autofocus: true %>
    </p>
    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email, value:current_user.email%>
    </p>
    <p>
      <%= f.label :address %><br>
      <%= f.text_area :address %>
    </p>

    <%= f.hidden_field :user_id, value:current_user.id %>
    
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  </div>