<h2>All Orders</h2>
<%= current_user.id %>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h2
{
  text-align: center;
}
</style>
<table>
  <tr>
    <td>Email</td>
    <td>Name</td>
    <td>Address</td>
    <td>Product</td>
    <td>Price</td>
  </tr>
  <% @order.each do |order| %>  
  <tr>
    <td><%= order.email %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <% order.products.each do |product| %>
    <td><%= product.name %><br></td>
    <td><%= number_to_currency(product.price) %><br></td>
    <% end %>
  </tr>
<% end %>
</table>
