<% if current_user.has_role? :newuser %>
<div id="mySidepanel" class="sidepanel" style="float: left:">
<details>
<% if @cart.empty? %>
<p> cart is empty <p>
<% else %>
<summary>Cart</summary>
  <% @cart.each do |p| %>
    <%=  p.name  %> | <%= link_to "Remove", remove_item_path(p), method: :post %> --
  <% end %>
  <%= link_to "Proceed to checkout", new_order_path(p) %>
<% end %>
</details>
</div>
<% end %> 
    
<div class="container">
    <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-6 col-lg-4 g-mb-30">
      <article class="u-shadow-v18 g-bg-white text-center rounded g-px-20 g-py-40 g-mb-5">
        <% if product.image.attached? %>
           <%= image_tag url_for(product.image), style: 'height:500px;width:300px;' %>
        <% end %>
        <h4 class="h5 g-color-black g-font-weight-600 g-mb-10"><%= product.name %></h4>
        <span class="d-block g-color-primary g-font-size-16"><%= number_to_currency(product.price/100) %></span>
        <% if current_user.has_role? :newuser %>
        <%= link_to "Add to cart", add_to_cart_path(product.id), method: :post, class: "btn"%>
        <%= product.sales_count %>
        <%= button_to "Buy Now!", checkout_create_path(id: product.id), remote: true, class: "btn"%>
        <% end %>
        <% if current_user.has_role? :admin %>
        <%= link_to "Edit", edit_product_path(product) %> |
        <%= link_to "Delete", product_path(product), {method: :delete, data: {confirm: "Are you sure?"}} %>
      <% end %>
      </article>
      </div>
    <% end %>
    </div>
</div>
