<%= form_for(@product) do |f| %>

    <div class="uk-container" style="width: 260px; margin: 0 auto;">
      <div uk-grid>		
          <div class="uk-width-1-2">
              <div class='uk-width-1-1@s'>
                  <h2 class="uk-text-center">Product Details</h2>
                  <hr />
                  <div class="uk-width-1-1@s">
                      <label class="uk-form-label" for="txtModel">Product Name</label>
                      <div class="uk-form-controls">
                          <p style= "width: auto;"><%= f.text_field :name, required: true, autofocus: true, placeholder: "Enter product name" , class: 'uk-input'%></p>
                      </div>
                  </div>

                  <div class="uk-width-1-1@s">
                      <label class="uk-form-label" for="txtModel">Product Image</label>
                      <div class="uk-form-controls">
                          <p style= "width: auto;"><%= f.file_field :image %></p>
                      </div>
                  </div>
                  
                  <div class="uk-margin">
                      <label class="uk-form-label" for="txtBrand">Price</label>
                      <div class="uk-form-controls">
                          <p><%= f.number_field :price, required: true, class: 'price', placeholder: "Enter product price" %></p>
                      </div>
                  </div>
                         <%= f.submit %>
  
              </div>
          </div>
      </div>
  </div>
  </div>
  <% end %>  
  