<!DOCTYPE html>
<html>
  <head>
    <title>ShopAppV</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/header" %>

  <p class="notice" style="text-align: center;font-size:28px;"><%= notice %></p>
  <p class="alert" style="text-align: center; font-size:28px;"><%= alert %></p> 
    <%= yield %>
  </body>
</html>
