<h2>All Orders</h2>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h2
{
  text-align: center;
}
</style>
<table>
  <tr>
    <td>Email</td>
    <td>Id</td>
  </tr>
  <% @users.each do |user| %>  
  
  <tr>
    <td><%= user.email %></td>
    <td><%= user.id %></td>
  </tr>
<% end %>
</table>
